.yAxis line{
  stroke: lightgray;
}

.yAxis path{
  stroke: transparent;
}

.xAxis line{
  stroke: transparent;
}

.xAxis path{
  stroke: transparent;
}

.legend {
  font-family: Comic;
  font-size: 22px;
  fill: gray;
}
