.yAxis line{
  stroke: lightgray;
}

.yAxis path{
  stroke: transparent;
}

.yAxis text{
  font-family: sans-serif;
  font-size: 12px;
}

.xAxis line{
  stroke: transparent;
}

.xAxis path{
  stroke: transparent;
}

.xAxis text{
  font-family: sans-serif;
  font-size: 14px;
}

.legend {
  font-family: Comic;
  font-size: 22px;
  fill: gray;
}
